<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<style>
    table,
    th,
    td {
        padding: 10px;
        /*border: 1px solid black;*/
        border-collapse: collapse;
    }
</style>
<br/><br/>
<table>
    <tr>
        <form name="f" method="post" action="/process_login">
            <td><label for="username"> Введите № Мастера: </label></td>
            <td><input type="text" name="username" id="username"/></td>
    </tr>
    <tr>
        <td><label for="password"> Введите пароль </label></td>
        <td><input type="password" name="password" id="password"/></td>
    </tr>
</table>
<div>
    <p>
    <a th:href="@{/auth/registration}">
        <button type="button">Регистрация</button>
    </a>
        <a>&emsp;</a>
        <input type="submit" value="Войти"/>
    </p>
</div>
</form>

<div th:if="${param.error}" style="color :red">
    Неправильное имя или пароль
</div>

</form>
</body>
</html>