<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<link media="all" rel="stylesheet" href="/static/css/login.css" th:href="@{/css/login.css}" type="text/css"/>
<meta charset="UTF-8">
<head>
    <title>Registration</title>
</head>
<body>
<div class="registration-cssave">
    <div>
        <a th:href="@{/auth/login}">
            <button class="btn btn-primary btn-block create-account" type="button">Залогиниться</button>
        </a>
    </div>
    <br/>
    <br/>
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${employee}">
        <div class="form-group">
            <label for="username">Введите № мастера: </label>
            <input class="form-control item" type="text" th:field="*{username}" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                Username используется
            </div>
        </div>
        <div>
            <label for="password">Введите пароль: </label>
            <input class="form-control item" type="password" th:field="*{password}" id="password"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                password error
            </div>
        </div>
        <input class="btn btn-primary btn-block registration-account" type="submit" value="Зарегистрироваться"/>
    </form>
</div>
</body>
</html>