<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<table>
    <style>
        th, td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <tr>
        <th>Номер</th>
        <th>Имя</th>
        <th>Отделение</th>
        <th>Направление</th>
        <th>пароль</th>
    </tr>
<p th:each="employee : ${listEmployee}">
    <tr>

    <td th:text="${employee.username}"/></td>
    <td th:text="${employee.employeeName}"/></td>
    <td th:text="${employee.department}"/></td>
    <td th:text="${employee.speciality}"/></td>
    <td th:text="${employee.password}"/></td>
    </tr>
</p>
</table>

</body>
</html>