<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link media="all" rel="stylesheet" href="/static/css/select-files.css"
      th:href="@{/css/all-clients.css}" type="text/css"/>
<meta charset="UTF-8">

<head>
    <title>ERROR</title>
</head>

<body>
<div>

    <h1 align="center">Что-то пошло не так(((</h1>
    <h2>- Загружаемый файл не удовлетворяет требованиям!</h2>
    <h2>- Попробуйте с другим файлом. </h2>
</div>
<div align="center">
    <a th:href="@{/}">
        <button class="btn btn-primary btn-block logout-account" type="button">НАЗАД</button>
    </a>
</div>
</body>
</html>