<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файлов</title>
</head>
<body>
<br><br>
<h2>Укажите путь к файлам для формирования сообщений</h2>
<br>
<a th:href="@{/logout}">
    <button type="button">Logout</button>
</a>
<p> Загрузите EXEL файл в формате .XLSX из отчета 1С - 'Техника в отделениях'</p>
<!--<form method="POST" action="@{/uploadFile1C}" enctype="multipart/form-data">-->
<!--    <input type="file" name="file">-->
<!--    <input type="submit" value="Загрузить 1С">-->

    <form method="POST"  th:action="@{/uploadFile1C}" enctype="multipart/form-data">
        <input type="file" name="file">
    <button type="submit">Загрузить 1С</button>
</form>
<a th:text="${file1C}"></a>
<br>
<p> Загрузите EXEL файл в формате .XLSX - 'Наши отделения'</p>
    <form method="POST"  th:action="@{/uploadFileDep}" enctype="multipart/form-data">
    <input type="file" name="file2">
        <button type="submit">Загрузить Отделения</button>
</form>
<a th:text="${dep}"></a>
<br>
<br>
<div>
    <a th:href="@{/generateReport1}">
        <button type="button">Сформировать</button>

        <span><a>&emsp;</a>
    <a th:href="@{/currentDB}">
        <button type="button">Открыть действующую</button>
    </a>
    </span>
    </a>
</div>
</body>
</html>