<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link media="all" rel="stylesheet" href="/static/css/select-files.css"
      th:href="@{/css/select-files.css}" type="text/css"/>
<meta charset="UTF-8">

<head>
    <title>Загрузка файлов</title>
</head>

<body>
<div class="registration-cssave">
    <a th:href="@{/logout}">
        <button class="btn btn-primary btn-block logout-account" type="button">Выход Мастер <b
                th:text="${thisEmp.getUsername()}"/></button>
    </a>
    <span>&emsp;</span>
    <a th:href="@{/departments}" target="_blank">
        <button class="btn btn-primary btn-block create-account" type="button">Действующие отделения</button>
    </a>

    <br> <br>
    <div>
        <form action="">
            <h2 class="text-center"><b th:text="${thisEmp.getEmployeeName()}"/>, для формирования сообщений необходимо
                загрузить EXEL-файл формата .XLSX из отчета 1С - "Техника в отделении".</h2>
            <h3> - в 1С перейти во вкладку "Техника в отделении"</h3>
            <h3> - Нажать кнопку "Сформировать"</h3>
            <h3> - Нажать кнопку (значок) - "с дискетой"</h3>
            <h3> - Выбрать директорию для сохранения файла</h3>
            <h3> - Выбрать "Тип файла" (Лист Exel2007-...(*xlsx)</h3>
            <h3> - Нажать "Сохранить"</h3>
        </form>
    </div>
    <br>
    <div>
        <form method="POST" th:action="@{/uploadFile1C}" enctype="multipart/form-data" th:object="${fileUp}">
            <h2> Загрузите EXEL файл формата .XLSX из отчета 1С - 'Техника в отделениях'</h2>
            <label class="btn btn-primary btn-block logout-account">
                                <input type="file" name="file">
            </label>
            <span>&emsp;</span>
            <button class="btn btn-primary btn-block registration-account" type="submit">Сформировать</button>
            <!--            <a th:text="${file1C}"></a>-->
<!--            <div style="color:red" th:if="${#fields.hasErrors('file')}" th:errors="${fileUp}">-->
<!--                password error-->
<!--            </div>-->
        </form>
    </div>
    <br>

    <div>
        <a th:href="@{/currentDB}">
            <button class="btn btn-primary btn-block create-account" type="button">Открыть действующую</button>
        </a>
    </div>
</div>
</body>
</html>